<div class="side-menu">
  <div class="filters-container">
    <form [formGroup]="form">

      <div class="filter-group">
        <span class="filter-title"><span class="mdi mdi-texture"></span> Alpha</span><br>
        <app-radio-group [items]="alphaFilterItems" formControlName="alpha"></app-radio-group>
      </div>

      <!--<div class="filter-group">-->
        <!--<span class="filter-title"><span class="mdi mdi-grid"></span> Sliced</span><br>-->
        <!--<app-radio-group [items]="sliceFilterItems" formControlName="slice"></app-radio-group>-->
      <!--</div>-->

      <div class="filter-group">
        <span class="filter-title"><span class="mdi mdi-arrow-collapse"></span> Min size</span>
        <div>
          <input class="number-input" type="number" min="0" placeholder="Any" formControlName="xMin" appZeroIsAny> x
          <input class="number-input" type="number" min="0" placeholder="Any" formControlName="yMin" appZeroIsAny> px
        </div>
        <div class="space-10"></div>
        <span class="filter-title"><span class="mdi mdi-arrow-expand"></span> Max size</span>
        <div>
          <input class="number-input" type="number" min="0" placeholder="Any" formControlName="xMax" appZeroIsAny> x
          <input class="number-input" type="number" min="0" placeholder="Any" formControlName="yMax" appZeroIsAny> px
        </div>
      </div>

      <div class="space-20"></div>
      <div class="space-20"></div>
      <div class="filter-group">
        <span class="filter-title"><span class="mdi mdi-wunderlist"></span> Presets</span><br>
        <div class="input-with-button">
          <input type="text" placeholder="Preset name" [(ngModel)]="presetName" [ngModelOptions]="{standalone: true}">
          <button class="link" (click)="savePreset()"><span class="link mdi mdi-content-save"></span></button>
        </div>
        <div>
          <div *ngFor="let preset of presets | async; let i = index" class="preset-link">
            <span class="link" (click)="loadPreset(i)">
              <span class="mdi mdi-bookmark preset-icon"></span>
              <span class="link-text">{{preset.presetName}}</span>
            </span>
            <span class="link remove-button" (click)="removePreset(i)">
              <span class="mdi mdi-close"></span>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
